Purpose: Data Type Conversions - int, float, complex, boolean, string, None

    int - decimal       - int() -base 10  (0-9)
        - binary        - bin() -base  2  (0-1)
        - hexadecimal   - hex()
        - octal         - oct()
    floatm
        float()
    String
        str()


int -> float int -> str

float -> int float -> str

str -> int str -> float """

In [1]:
num = 12
print("num=", num, type(num))

num= 12 <class 'int'>

In [2]:
# int -> float
print(12, float(12))  # 12 12.0

12 12.0

In [3]:
# int -> str
print(12, str(12))  # 12 '12'

12 12

In [4]:
# float -> int
print(3.1416, int(3.1416))  # 3.1416,  3
print(3.1416, str(3.1416))  # 3.1416, '3.1416'

3.1416 3
3.1416 3.1416

In [5]:
# str  -> int
print("23", int("23"))  # '23 ', 23
print("23 ", int("23 "))  # '23 ', 23

23 23
23  23

In [6]:
print('2 3', int('2 3'))

ValueError: invalid literal for int() with base 10: '2 3'

In [7]:
print('two', int('two'))

ValueError: invalid literal for int() with base 10: 'two'

In [8]:
# str -> float
print("23   ", float("23"))  # '23   ', 23.0
print("23.24", float("23.24"))  # '23.24', 23.24
print("23.  ", float("23."))  # '23.  ', 23.0

23    23.0
23.24 23.24
23.   23.0

In [9]:
print("23   ", float("23  "))  # '23   ', 23.0

23    23.0

In [10]:
float()                 # 0.0
float("+1.23")          # 1.23
float("   -12345\n")    # -12345.0
float("1e-003")         # 0.001
float("+1E6")           # 1000000.0
float("-Infinity")      # -inf

-inf

In [11]:
float("+Infinity")      # +inf

inf

In [12]:
float("-inf")      # -inf

-inf

In [13]:
# NOTE: Anything can be converted to str; but not vice versa
print("str(12)          ", str(12))
print("str(121233.12323)", str(121233.12323))
print("str(-0.000012)   ", str(-0.000012))
print("str(True)        ", str(True))
print("str(None)        ", str(None))

str(12)           12
str(121233.12323) 121233.12323
str(-0.000012)    -1.2e-05
str(True)         True
str(None)         None

In [14]:
num1 = 33
print("num1 =", num1, type(num1))  # -> Decimal form

num1 = 33 <class 'int'>

In [15]:
bin(int(23.3))

'0b10111'

In [16]:
# binary -> decimal form
print("0b1001", int("0b1001", base=0))  # 9
print("1001  ", int("1001", base=0))  # 1001
print("bin(9)", int(bin(9), base=0))  # 9

0b1001 9
1001   1001
bin(9) 9

In [17]:
print((9).bit_length())   # 4 <- '0b1001'
print((23).bit_length())  # 5 <- '0b10111'

4
5

In [18]:
print(int(oct(9), base=8))  # 9
print(int("0o11", base=8))  # 9
print(int("11", base=8))  # 9
print(int("11"))  # 11

9
9
9
11

In [19]:
# Hexadecimal - 0-9 A-F
# decimal -> hexadecimal
print("hex(9)  ", hex(9))       # '0x9'
print("hex(-23)", hex(-23))     # '-0x17'

# hexadecimal -> decimal
print(int(hex(-23), base=16))   # -23
print(int("-0x17", base=16))    # -23
print(int("-17", base=16))      # -23
print(int("-17"))               # -17

hex(9)   0x9
hex(-23) -0x17
-23
-23
-23
-17

In [20]:
"%#o" % 10

'0o12'

In [ ]:
input_string = input("Enter any string:")